.sidebar {
	background: $color-primary;
	grid-column: sidebar;
    grid-row: 1 / -1;
    
    display: flex;
    justify-content: center;
}

.nav-btn {
	border: none;
	height: 2px;
	width: 4.5rem;
    background: white;
    margin-top: 4rem;
    


	&::before,
	&::after {
		content: "";
		height: 2px;
		width: 4.5rem;
		display: block;
		background: white;
	}

	&::before {
		transform: translateY(-1.5rem);
	}

	&::after {
		transform: translateY(1.3rem);
	}
}
